<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>DATA ALL</h2>
    <h3>{{sql}}</h3>
    <table border="1">
        {% for key in result.0 %}
        <th>{{key }}</th>
        {% endfor %}
        {% for data in result %}
        <tr>
            {% for key, value in data.items %}
            {% if key != '_prefetched_objects_cache' %}
            <td>{{ value }}</td>
            {% else %}
            <td>
                <select>
                    {% for val in value %}
                        {% for c in val.values %}
                        <option>
                        {{ c }}, 
                        </option>
                        {% endfor %}
                    {% endfor %}
                </select>
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>
</html>